 body{
 	background-image:url('http://localhost/csc309db/images/dcs_logo.png');
	background-repeat:no-repeat;
	background-size:200px;
    font-family: Arial, Verdana, sans-serif;
    margin:0;
    padding:0;
 }
  
 
 input,label {
 	display: block;
 }
 
 
 h1 {
 	font-size:2em;
 	color: green;
 }
 
 h2{
 	font-size:1em;
 	color: blue;
 }

.cartButton{
 	display: inline;
}

 #header{
    font-size:12px;
	width: 768px;
	height: 80px;
 }
 
 #header > h1 {
 		text-align:center;
 		clear: both;
 }

 #header > p {
 		padding-left:5px;
 		padding-right:5px;
 		color: red;
 		float: right;
 }
 
 #nav{
 	padding: 5pt;
	position: absolute;	
	width:130px;
	height: 800px;
	font-size: 10pt;
    border:1px solid #31363E;
    background: lightgray;
 }
 
 #main{
	margin-left:160px;
    width:540px;
    height:800px;
	background: white;
 }


